*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
}

.container-fluid {
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-direction: column;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-top: 20px;
}

body.dark-theme .container-fluid {
    background-image: url('https://images.unsplash.com/photo-1527689368864-3a821dbccc34?auto=format&fit=crop&w=1350&q=80'); /* your dark mode image */
    background-color: #1f1f1f; /* fallback */
    background-size: cover;
    background-position: center;
}

body.dark-theme .todoContainer {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

body.dark-theme {
    background-color: #121212;
    color: white;
}
